<h3 class"ui header">Dados Gerais</h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Home Page</th>
      <th>Private</th>
      <th>Issues</th>
      <th>Projetos</th>
      <th>Wiki</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @var.name %></td>
        <td><%= @var.description %></td>
        <td><%= @var.homepage %></td>
        <td><%= @var.private %></td>
        <td><%= @var.has_issues %></td>
        <td><%= @var.has_projects %></td>
        <td><%= @var.has_wiki %></td>
      </tr>
  </tbody>
</table>

<h3 class"ui header">Branches</h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th>SHA</th>
      <th>URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <% @bra.each do |branches| %>
      <tr>
        <td><%= branches.name %></td>
        <td><%= branches.commit.sha %></td>
        <td><%= branches.commit.url %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<div class="field">
  <%= label_tag 'Selecione Branch' %>
  <%= select_tag 'branches', options_from_collection_for_select(@bra, "name", "name"), prompt: "Selecione a Branch" %>
</div>

<h3 class"ui header">Branch</h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th>SHA</th>
      <th>Usuário last update</th>
      <th>Nome last update</th>
      <th>Data/hora laste update</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%=@unibra.name %></td>
        <td><%=@unibra.commit.sha %></td>
        <td><%=@unibra.commit.author.login %></td>
        <td><%=@unibra.commit.commit.author.name %></td>
        <td><%=@unibra.commit.commit.author.date %></td>
      </tr>
  </tbody>
</table>

<h3 class"ui header">Lista de Commits</h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%#= @com.commit.author.name %></td>
        <td><%#= @com.commit.author.date %></td>
        <td><%#= @com.commit.message %></td>
        <td><%#= @com.author.login %></td>
        <td><%#= @com.committer.login %></td>
      </tr>
  </tbody>
</table>


