<h3 class"ui header"> Informações da Branch </h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome</th>
      <th>SHA</th>
      <th>Autor do Ultimo Commit</th>
      <th>Data do Ultimo Commit</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @unibra.name %></td>
        <td><%= @unibra.commit.sha %></td>
        <td><%= @unibra.commit.commit.author.name %></td>
        <td><%= @unibra.commit.commit.author.date%></td>
      </tr>
  </tbody>
</table>

<h3 class"ui header"> Commits da Branch </h3>
  <table class='ui orange table '>
  <thead>
    <tr>
      <th>Nome do Autor</th>
      <th>Data do Commit</th>
      <th>Comentário</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <% @comm.each do |c| %>
      <tr>
        <td> <%=c.commit.author.name %></td>
        <td> <%=c.commit.author.date %></td>
        <td> <%=c.commit.message %></td>
      </tr>
      <% end %>
  </tbody>
</table>
